#blog{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 45px;
}
#blog .contenedor article img{
    width: 250px;
    height: 250px;
    border: solid 4px rgb(89, 180, 137);
    border-radius: 7px;
}
#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#blog article{
    margin: 15px;
}